body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #3f4850;
}

h1 {
  font-size: 3em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

.fa-spinner {
  font-size: 8em;
  color: #646668;
}

.fa-frown {
  margin-top: 30px;
  font-size: 8em;
  color: #646668;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #1abc9c;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 1px 1px 6px #aaa;
}

input {
  font-size: 1em;
  width: 100%;
  /* background-color: #edeff0; */
  padding: 10px 15px;
  border: none;
  border-right: none;
  outline: none;
  box-shadow: 1px 1px 6px #aaa;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  background: #1abc9c;
  padding: 10px;
  color: #fff;
  box-shadow: 1px 1px 6px #aaa;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #16a085;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 4em;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 1px 1px 6px #aaa;
  border-radius: 5px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    margin: 10px;
    width: 200px;
  }
}
